*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo', sans-serif;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.wrapper {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: #e2a50e;
}

.card {
    background: #ffffff1a;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #0000002a;
    border-radius: 5px;
    border-width: 1px;
    color: #e7e9eb;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

.card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-body {
    min-height: 100px;
}

.card-footer {
    text-align: center;
}

.card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-footer::after {
    content: " ";
    display: block;
    clear: both;
}

.btn {
    border: none;
    background-color: #e2a50e;
    border-radius: 25px;
    color: black;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 18px 18px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

.float-right {
    float: right;
}

#password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px inset #e2a50e;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
    font-family: 'Exo', sans-serif;
}

@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
    #password {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}